<div id="home">
    <div id="header-links">
    <div id="home-link">
    <a href="/">Back to Home</a>
    </div>

    <div id="delete-link" data-id="{{projects.id}}">
        <button id="delete-button" class="btn btn-primary">Delete Idea</button>
    </div>
    </div>
    <div id="idea" class="card border-dark mb-3 col-12" style="margin-top:30px">

        <div class="card-body text-dark">

            <h2 data-id="{{projects.id}}" class="idea-title">{{projects.name}}</h2>
            <p class="idea-description">{{projects.description}}</p>
            <button class="btn btn-primary" id="editProject" data-toggle="modal" data-target="#edit-idea-modal">Edit</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="edit-idea-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-title"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 id="edit-modal-header">Idea Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="clearfix mb-4" method="POST">
                <input type="hidden" value="{{projects.id}}" id="edit-idea-id">
                <div class="form-group">
                    <label for="edit-idea-name">Name</label>
                    <input type="text" id="edit-idea-name" class="form-control" aria-describedby="edit-idea-name"
                    placeholder="Enter Name"
                    value="{{projects.name}}">
                </div>
                <div class="form-group">
                    <label for="edit-idea-description">Description</label>
                    <textarea class="form-control" id="edit-idea-description" aria-describedby="edit-idea-description"
                    placeholder="Enter Description">{{projects.description}}</textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="submitUpdate" class="btn btn-primary float-right">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    {{!-- for error message  --}}
<div id="err"></div>
    <form class="form-group" id="new-comment-form">
        <input type="email" id="comment-email" placeholder="Email Address" class="form-row"></input><br>
        <textarea class="form-control form-row" id="comment-form" rows="5" style="width: 500px"></textarea><br>
                <!-- still needs to be handled on submit -->
        <div id="comment-rating" style="margin-top: 10px"></div>
        <button id="submit" class="btn btn-primary" for="comment-form" style="margin-top:15px">Submit</button>
    </form>

    <label for="comment-form">
        <h3><u>Comments</u></h3>
        <div id='rateYo' style='margin-top: 10px'></div>
    </label>
    <div class="comment-section">

    </div>
</div>
<script src="/js/comment.js"></script>
<script src="/js/idea-page.js"></script>
